@font-face {
  font-family: "Inter";
  src: local("Inter-Variable"),
    url("../fonts/Inter-Variable.ttf") format("opentype");
}

h1, h2, h3, p {
  color: #404040;
  margin: 0 0 8px 0;
  font-family: Inter;
}

h1, h3 {
  font-weight: 900;
}

h1 {
  font-size: 32px;
  @media (min-width: 576px) {
    font-size: 64px;
  }
}

h2 {
  font-size: 16px;
  font-weight: 500;
  @media (min-width: 576px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 22px;
}